/* 1. VARIABLES GLOBALES */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --rojo: #E5252E;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --card-size: 140px;
}

/* 2. ESTILOS BASE */
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* 3. LAYOUTS PRINCIPALES */

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.signup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px; /* Ancho base */
}

/* 4. COMPONENTES COMUNES */
.logo, .email {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none; 
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

/* 5. FORMULARIO Y CAMPOS */
.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.value-display {
  color: var(--black);
  font-size: var(--md);
  margin-bottom: 24px;
  font-weight: 300;
}

/* 6. BOTONES Y ENLACES */
.primary-button {
  background-color: var(--rojo);
  color: var(--white);
  border: none;
  border-radius: 8px;
  height: 50px;
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.second-button {
  background-color: var(--white);
  color: var(--rojo);
  border: 1px solid var(--rojo);
  border-radius: 8px;
  height: 50px;
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

a {
  color: var(--rojo);
  font-size: var(--md);
  text-decoration: none;
  text-align: center;
}

/* 7. RESPONSIVIDAD (MEDIA QUERIES) */

/* Móviles (Menor a 640px) */
@media (max-width: 640px) {
  .logo, .email {
    display: block;
  }
  
  .signup .form-container {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    min-height: 100vh;
  }
  
  .signup .form {
    flex: 1;
  }
  
  /* Empuja el botón al fondo solo en la vista signup/edit */
  .signup .button-bottom {
    margin-top: auto;
    margin-bottom: 24px;
  }
}

/* Escritorio (Mayor a 640px) */
@media (min-width: 641px) {
  .signup {
    align-items: center;
  }
  
  .signup .form-container {
    margin-top: 60px;
    min-height: auto;
  }
  
  .button-bottom {
    margin-top: 20px;
  }
}

/* Estilos segunda parte del Taller DM */
/* Estilos para las tarjetas de los productos */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  gap: 26px;
  place-content: center;
}

.product-card {
  width: var(--card-size);
}

.product-card img {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2){
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

@media (max-width: 640px){
  :root {
    --card-size: 140px;
  }
}

/* Estilos para el menú versión de escritorio */
.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  background-color: var(--white);
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
  margin-bottom: 20px; 
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--black);
  font-size: var(--md);
  font-weight: 300;
  text-decoration: none;
  
  display: inline-block;
  margin-bottom: 24px;  
}

/* Estilos para el menú versión mobile */
.mobile-menu {
  background-color: var(--white);
  padding: 24px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu .email-menu {
  color: var(--very-light-pink);
  font-size: var(--sm);
  font-weight: 300; 
}

.mobile-menu .sign-out-menu {
  color: var(--black); 
  font-size: var(--sm);
  font-weight: bold;
}

