<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&di
      splay=swap" rel="stylesheet">

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../styles.css">
    <!-- Favicon -->
    <link rel="icon" type="image/svg" href="./logos/favicon.svg">

    <title>Document</title>
  </head>
  <!-- Página principal, lista de productos -->
  <body>
    <section class="main-container">
      <div class="cards-container">
        <div class="product-card">
          <img src="https://images.pexels.com/photos/11294856/pexels-photo-11294856.jpeg" alt="Tarta de Frutos Rojos" class="product-img">
          <div class="product-info">
            <div>
              <p>$45.000</p>
              <p>Tarta Frutos Rojos</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/9652807/pexels-photo-9652807.jpeg" alt="Brownie con Helado" class="product-img">
          <div class="product-info">
            <div>
              <p>$15.000</p>
              <p>Brownie & Helado</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/7662926/pexels-photo-7662926.jpeg" alt="Cheesecake NY" class="product-img">
          <div class="product-info">
            <div>
              <p>$18.000</p>
              <p>Cheesecake NY</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/12558234/pexels-photo-12558234.jpeg" alt="Galletas de Chocolate" class="product-img">
          <div class="product-info">
            <div>
              <p>$8.000</p>
              <p>Galletas Choco</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/7664400/pexels-photo-7664400.jpeg" alt="Tiramisú Clásico" class="product-img">
          <div class="product-info">
            <div>
              <p>$22.000</p>
              <p>Tiramisú Clásico</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/26844202/pexels-photo-26844202.jpeg" alt="Donas Glaseadas" class="product-img">
          <div class="product-info">
            <div>
              <p>$12.000</p>
              <p>Dona Glaseada</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/18160775/pexels-photo-18160775.jpeg" alt="Pie de Limón" class="product-img">
          <div class="product-info">
            <div>
              <p>$35.000</p>
              <p>Pie de Limón</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/6270663/pexels-photo-6270663.jpeg" alt="Caja de Macarons" class="product-img">
          <div class="product-info">
            <div>
              <p>$40.000</p>
              <p>Macarons (x6)</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/11188690/pexels-photo-11188690.jpeg" alt="Muffin de Arándanos" class="product-img">
          <div class="product-info">
            <div>
              <p>$9.000</p>
              <p>Muffin Arándano</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/5665639/pexels-photo-5665639.jpeg" alt="Crepe de Nutella" class="product-img">
          <div class="product-info">
            <div>
              <p>$16.000</p>
              <p>Crepe Nutella</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/9008662/pexels-photo-9008662.jpeg" alt="Helado de Vainilla" class="product-img">
          <div class="product-info">
            <div>
              <p>$14.000</p>
              <p>Helado Vainilla</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/12322407/pexels-photo-12322407.jpeg" alt="Churros con Chocolate" class="product-img">
          <div class="product-info">
            <div>
              <p>$12.000</p>
              <p>Churros Hot</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/29653156/pexels-photo-29653156.jpeg" alt="Mousse de Maracuyá" class="product-img">
          <div class="product-info">
            <div>
              <p>$20.000</p>
              <p>Mousse Maracuyá</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

        <div class="product-card">
          <img src="https://images.pexels.com/photos/29174808/pexels-photo-29174808.jpeg" alt="Torta de Zanahoria" class="product-img">
          <div class="product-info">
            <div>
              <p>$55.000</p>
              <p>Torta Zanahoria</p>
            </div>
            <figure>
              <img src="../icons/bt_add_to_cart.svg" alt="add to cart" >
            </figure>
          </div>
        </div>

      </div>
    </section> 
  </body>
</html>
